@model IEnumerable<Asiana.Catalog.Search.Solr.Client.SolrDocument>
@using Asiana.UI.Extensions
<div class="recordContainer">
    @foreach (dynamic record in Model)
    {
        <div class="black-box">
            <p>
            @Ajax.HtmlActionLink(@<img class="productThumbnail ui-corner-all" src="/Image/Size/@record.Image/170/170" width="170" height="170"/>, "Index", "Product", new { id = record.ID }, new AjaxOptions { UpdateTargetId = "recordDetailContainer", OnSuccess = "show", HttpMethod = "POST" }, null)
            </p>
            <h2>
                <em>@record.Name</em></h2>
            <p>@decimal.Parse(record.Price).ToString("c")</p>
            <p class="addToBasket">@Ajax.ActionLink("Add To Basket", "Add", "Basket", new { productId = record.ID, quantity = 1 }, new AjaxOptions { UpdateTargetId = "basket", HttpMethod = "Post" }, new { rel = "nofollow" })</p>
        </div>
    }
</div>
