@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Index</title>
</head>
<body>
    <div>
        @Html.ActionLink("Attributes","Attributes") @Html.ActionLink("Types", "Types")
    </div>
</body>
</html>
