

html, body, ul, li, h1, h2, h3, h4
{
	margin: 0px;
	padding: 0px;
	list-style: none;
}

h1 img
{
	display: block;
}
img
{
	border: 0px;
}
p
{
	margin: 0.5em 0px;
}
a
{
	color: #fff;
	text-decoration: none;
}
a:hover
{
	color: #fff;
	text-decoration: underline;
}
.left
{
	float: left;
}
.right
{
	float: right;
}
.more
{
	text-align: right;
}
.clear
{
	clear: both;
}

body
{
	background: url("/content/themes/base/background/bg_body.png") repeat-y scroll center top #F7F7F7;
	font: 11px arial, sans-serif;
}

#outer
{
	/*background: url("/content/themes/base/bg_body_detail_v1.jpg") no-repeat scroll center top transparent;*/
}

#page
{
	margin: 0 auto;
	position: relative;
	width: 980px;
}

#products
{
	margin-left: 145px;
	margin-top: 10px;
}

#wrapper
{
	margin: auto;
	position: relative;
	text-align: left;
	width: 100%;
}

#women
{
	position: fixed;
	margin-bottom: 0px;
	bottom: 0;
	left: 0;
	background: url(images/th/women.png) no-repeat center bottom;
	width: 200px;
	height: 310px;
	z-index: -1;
}


#masthead
{
	height: 135px; /*padding: 0 20px 0 0;*/
	position: relative;
	z-index: 2;
}

#content
{
	background: none repeat scroll 0 0 transparent; /*overflow: hidden;*/
	position: relative;
	z-index: 1;
	min-height: 100%;
}

#header h1
{
	margin: 0;
	padding: 0;
	line-height: 1;
}

#header h1 em
{
	display: block;
	padding: 28px 0 0 28px;
	margin: 0;
	font-weight: normal;
	font-size: 48px;
	font-family: "Times new roman" , serif;
}
#header h1 strong
{
	display: block;
	margin: 0px;
	padding: 0px 0px 0px 90px;
	font-weight: normal;
	font-size: 15px;
	font-family: verdana, arial, sans-serif;
}

#uppers
{
	/*position: absolute;*/ /*top: 17px; 	/*left: 270px;*/
	background: top left url(images/search.gif) no-repeat; /*padding-left: 25px;*/
	z-index: 15;
	position: relative;
}



#nav
{
	position: relative;
	width: 980px;
	display: inline;
	text-align: center;
}

.redGradient
{
	background: -webkit-gradient(linear, left top, left bottom, from(#ab0b0e), to(#3D0001)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #ab0b0e,  #3D0001); /* for firefox 3.6+ */
}

#nav ul
{
	text-align: center;
	padding: 10px 0px 10px 10px;
	position: relative;
}

#nav li
{
	float: left;
	position: relative;
	font-family: "Droid Serif" , Serif;
	font-size: 14px;
}

#nav > div > ul > li > a
{
	font-weight: normal;
}

#nav > div > ul > li > a:hover
{
	text-decoration: underline;
}

#breadCrumb
{
	margin: 3px 3px 3px 3px;
	text-align: left;
	position: relative;
	z-index: 11;
}

#breadCrumb li
{
	display: inline;
}
#breadCrumb a
{
	font-weight: normal;
	color: black;
}

#body h2
{
	font-weight: normal;
	font-size: 15px;
}

#body h2 em
{
	font-size: 25px;
	font-family: serif;
}


#featuredProducts
{
	/*margin-left: 300px; 	margin-top: 10px; 	width: 540px; 	position: relative; 	background-color: Black; 	padding: 10px;*/ /*margin-left: 260px;/* 	margin-top: 10px; 	position: relative; /*background-color: Black;*/
	background: url(images/cycle-shadow.gif) no-repeat scroll 0 100% transparent;
	padding: 0 0 18px;
	width: 680px;
	margin: auto;
	font-family: "Droid Serif" ,Serif;
	font-size: 22px;
	font-weight: normal;
}

#featuredProducts h2
{
	font-size: 18px;
}

#featuredProducts h3
{
	font-size: 10px;
}



#featuredProducts .wrapper
{
	background: white;
	border: 10px solid #F7F7F7; /*box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);*/
	height: 200px;
	margin: 10px;
	-moz-box-shadow: inset 0 0 3px #000000;
	-webkit-box-shadow: inset 0 0 3px #000000;
	box-shadow: inset 0 0 3px #000000;
}



#featuredProducts .black-box
{
	float: left;
	width: 126px;
	margin-right: 20px;
	margin-left: 20px;
	color: black;
}
#featuredProducts .black-box h2
{
	font-size: 13px;
	font-weight: normal;
}

#featuredProducts .black-box h2 em
{
	font-size: 13px;
	font-family: serif;
}

#featuredProducts .black-box .more
{
	color: red;
}


#products .wrapper
{
	min-height: 300px; /*margin-left: 300px;	*/
}

#products .black-box
{
	float: left;
	width: 170px;
	margin-right: 10px;
	margin-left: 10px;
	color: black;
}
#products .black-box h2
{
	font-size: 13px;
	font-weight: normal;
	height: 45px;
}

#products .black-box h2 em
{
	font-size: 13px;
	font-family: serif;
}

#products .black-box .more
{
	color: red;
}

#products .black-box img
{
	border: 2px solid #710103;
}

#footer
{
	background: none repeat scroll 0 0 #F2F2F2;
	border-top: 1px solid #E0E0E0;
	overflow: hidden;
	padding: 20px 10px 0;
}

#footer h3
{
	font-family: "Droid Serif" ,Serif;
	font-size: 13px;
	font-weight: normal;
}

#footer h2 em
{
	font-family: "Droid Serif" ,Serif;
	font-size: 22px;
}

#footer .mod
{
	float: left;
	margin: 0 0 10px 20px;
	width: 172px;
}
#tips
{
	float: left;
	width: 233px;
}
#choose
{
	float: left;
	width: 200px;
	margin-left: 50px;
}

#copyright
{
	margin-left: 320px;
}
#s
{
	position: relative;
	top: 0.4em;
}
#submit
{
	position: relative;
	top: 0.2em;
}


#leftNavigation
{
	margin-left: 15px;
	float: left;
	position: relative;
	margin-top: 30px;
	width: 140px;
}

#leftNavigation a
{
	color: Black;
	margin-left: 18px;
}

#leftNavigation a:hover
{
	color: Black;
	margin-left: 21px;
}

#leftNavigation ul
{
	margin-bottom: 10px;
}

.productThumbnail
{
	width: 170px;
	height: 170px;
}

.facetColorPalette
{
	width: 80px;
	height: 60px;
}

.facetColorPaletteItemContainer
{
	width: 10px;
	height: 10px;
	float: left;
	margin: 2px;
}

.facetColorPaletteItem
{
	width: 10px;
	height: 10px;
	border: 1px solid black;
}

.clear-fix
{
	clear: left;
}

.clear-fix-all
{
	clear: both;
}

#basket
{
	border-right: 1px dashed black;
	color: #000000;
	float: left;
	height: 40px;
	line-height: 100%;
	margin: 35px 0 0 10px;
	min-height: 23px;
	position: relative;
	width: 240px;
}

#basket .items
{
	-moz-box-shadow: 2px 2px 4px #000000;
	display: none;
	left: -16px;
	padding: 0 10px 10px;
	position: absolute;
	top: -35px;
	width: 250px;
	z-index: -20;
}

#basket .items .inner
{
	/*display: none;*/ /*margin-top: 30px;*/ /*position: absolute;*/
	background: white;
	border-bottom: 1px dashed black;
	border-left: 1px dashed black;
	border-right: 1px dashed black;
	width: 240px;
	padding: 2px 2px 2px 2px;
	color: Black;
}

#basket .items .inner a
{
	color: Black;
}

#basket .items .inner .spacer
{
	height: 90px;
}



#basket .header
{
	font-family: Times New Roman,serif;
	font-size: 14px;
	color: black;
	z-index: 999;
}

#basket .header .total
{
	float: left;
}

#basket .header .checkout
{
	float: right;
	margin-top: 8px;
	margin-right: 8px;
}

#basket .smallButton
{
	padding: 5px 5px 5px 5px;
}

#basket .image
{
	width: 80px;
	float: left;
}

#basket .name
{
	width: 160px;
	float: left;
}


#basket .header .total
{
	color: black;
	font-family: "Droid Serif" ,Serif;
	font-size: 12px;
	text-align: left;
}

#basket .header .total a
{
	background: url("/content/themes/base/icon_masthead.png") no-repeat scroll right -65px transparent;
	text-decoration: underline;
	padding: 0 50px 0 0;
}

#basket .header .totalAmount
{
	background: url("/content/themes/base/icon_masthead.png") no-repeat scroll 0 -115px transparent;
	font-family: "Droid Serif" , Serif;
	font-size: 16px;
	text-align: right;
	color: black;
	padding: 0px 0 0 40px;
}

#basket .header .count
{
	font-family: "Droid Serif" , Serif;
	font-size: 18px;
	text-align: left;
	color: black;
}

#breadCrumb
{
	position: relative;
	z-index: 11;
}

#nav .sub
{
	position: absolute; /*--Important--*/
	float: left;
	left: -9999px;
	top: 20px;
	min-width: 200px;
	z-index: 12;
	padding: 5px 5px 5px 5px;
}


#nav > .sub > .inner
{
	background-color: #3D0001;
	-moz-border-radius-bottomleft: 8px /*{cornerRadius}*/;
	-webkit-border-bottom-left-radius: 8px /*{cornerRadius}*/;
	border-bottom-left-radius: 8px /*{cornerRadius}*/;
	-moz-border-radius-bottomright: 8px /*{cornerRadius}*/;
	-webkit-border-bottom-right-radius: 8px /*{cornerRadius}*/;
	border-bottom-right-radius: 8px /*{cornerRadius}*/;
}

#nav li span
{
	padding: 7px 5px 9px 5px;
}

#nav li:hover span
{
	background-color: #ab0b0e;
	-moz-border-radius-topright: 8px /*{cornerRadius}*/;
	-webkit-border-top-right-radius: 8px /*{cornerRadius}*/;
	border-top-right-radius: 8px /*{cornerRadius}*/;
	-moz-border-radius-topleft: 8px /*{cornerRadius}*/;
	-webkit-border-top-left-radius: 8px /*{cornerRadius}*/;
	border-top-left-radius: 8px /*{cornerRadius}*/;
	padding: 7px 5px 9px 5px;
	border: 1px solid #3D0001;
	margin-top: 3px;
}

#nav li:hover .sub
{
	left: 1px;
}

.nav-hover
{
	background-color: #ab0b0e;
	-moz-border-radius-topright: 8px /*{cornerRadius}*/;
	-webkit-border-top-right-radius: 8px /*{cornerRadius}*/;
	border-top-right-radius: 8px /*{cornerRadius}*/;
	-moz-border-radius-topleft: 8px /*{cornerRadius}*/;
	-webkit-border-top-left-radius: 8px /*{cornerRadius}*/;
	border-top-left-radius: 8px /*{cornerRadius}*/;
	padding: 7px 5px 9px 5px;
	border: 1px solid #3D0001;
	margin-top: 3px;
}

#nav .sub .inner
{
	background-color: White;
	padding: 5px;
}

#nav .sub .inner li
{
	clear: both;
	margin-bottom: 10px;
	font-family: "Droid Serif" , Serif;
	font-size: 0.8em;
	color: Black;
}

#images
{
	float: left;
}
#zoomContainer
{
	width: 350px;
	height: 350px;
	background-color: white;
	border: 1px solid black;
	color: white; /* text color for messages */
}

#detailContainer
{
	float: left;
	max-width: 400px;
	margin-left: 10px;
}

.smallAlternate
{
	float: left;
	margin: 3px 3px 0px 0px;
	border: 1px solid black;
}
#detailContainer h2
{
	font-family: "Droid Serif" , Serif;
	font-size: 22px;
}

#detailContainer h3
{
	font-family: "Droid Serif" , Serif;
	font-size: 22px;
}

#detailContainer p
{
	font-family: "Droid Serif" , Serif;
	font-size: 16px;
}

.standardButton
{
	-moz-border-radius: 2px 2px 2px 2px;
	-moz-box-shadow: 2px 2px 4px #000000;
	color: White;
	font-family: "Droid Serif" ,serif;
	font-size: 12px;
	max-width: 150px;
	min-width: 120px;
	height: 30px;
	max-height: 40px;
	margin: 5px 10px 0px 0px;
	text-align: center;
	float: left;
	padding: 12px 0px 0px 0px;
}

form #searchTerm
{
	clear: both;
	float: left;
	-moz-border-radius: 3px 3px 3px 3px;
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #BBBBBB;
	font-size: 12px;
	margin: 0;
	padding: 5px 9px;
	width: 142px;
}

.smallButton
{
	background: -webkit-gradient(linear, left top, left bottom, from(#ab0b0e), to(#3D0001)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #ab0b0e,  #3D0001); /* for firefox 3.6+ */
	-moz-border-radius: 2px 2px 2px 2px;
	-moz-box-shadow: 2px 2px 4px #000000;
	color: white;
	font-family: "Droid Serif" ,serif;
	font-size: 14px;
	height: 27px;
	margin: -6px 0px 0px 10px;
	text-align: center;
	border: 1px solid black;
}

.smallFloatedButton:active
{
	background: none;
	background-color: #ab0b0e;
}

.smallFloatedButton:hover
{
	background: -webkit-gradient(linear, left top, left bottom, from(#3D0001), to(#ab0b0e)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #3D0001,  #ab0b0e); /* for firefox 3.6+ */
}

dl.table-display
{
	float: left;
	width: 520px;
	margin: 1em 0;
	padding: 0; /*border-bottom: 1px solid #999;*/
}

.table-display dt
{
	clear: left;
	float: left;
	width: 200px;
	margin: 0;
	padding: 5px;
	border-top: 1px solid #999;
	font-weight: bold;
}

.table-display dd
{
	float: left;
	width: 300px;
	margin: 0;
	padding: 5px; /*border-top: 1px solid #999;*/
}

#deliveryAddress
{
	border: 1px dashed black;
	-moz-border-radius: 6px 6px 6px 6px;
	padding: 10px;
	width: 600px;
	margin: 10px;
}

#deliveryMethod
{
	border: 1px dashed black;
	-moz-border-radius: 6px 6px 6px 6px;
	padding: 10px;
	width: 600px;
	margin: 10px;
}

#shipment
{
	border: 1px dashed black;
	-moz-border-radius: 6px 6px 6px 6px;
	padding: 10px;
	width: 600px;
	margin: 10px;
}

#shipment .image
{
	float: left;
}

#shipment .details
{
	float: left;
}

#totals
{
	border: 1px dashed black;
	-moz-border-radius: 6px 6px 6px 6px;
	padding: 10px;
	width: 280px;
	margin: 10px;
}

#shipment
{
	border: 1px dashed black;
	-moz-border-radius: 6px 6px 6px 6px;
	padding: 10px;
	width: 600px;
	margin: 10px;
}

#cardsAndCodes
{
	border: 1px dashed black;
	-moz-border-radius: 6px 6px 6px 6px;
	padding: 10px;
	width: 280px;
	margin: 10px;
}

#summary
{
	float: left;
}

#leftContent
{
	float: left;
}

#rightContent
{
	float: left;
	width: 300px;
}

#content h2
{
	margin: 10px;
	font-family: "Droid Serif" , Serif;
	font-size: 16px;
	text-align: left;
}

#footer h3 a
{
	color: #000;
}


#logo
{
	background: url("/content/themes/fashinon-london.jpg") no-repeat scroll 0 0 transparent;
	float: left;
	height: 100px;
	width: 260px;
}

#search
{
	border-right: 1px dashed black;
	float: left;
	height: 30px;
	margin: 35px 0 0;
	padding: 5px;
	width: 240px;
}

/* Links Navigation */
#links
{
	border-right: 1px dashed black;
	float: left;
	height: 40px;
	margin: 35px 5px 20px 15px;
	width: 180px;
}

#links li
{
	list-style: none outside none;
	float: left;
	font-size: 12px;
	margin: 0 11px 0 0;
	font-family: "Droid Serif" , Serif;
}

#links .phone
{
	background: url("/content/themes/base/icon_masthead.png") no-repeat scroll 0 -5px transparent;
	clear: both;
	font-size: 16px;
	padding: 10px 0 0 36px;
	font-family: "Droid Serif" , Serif;
}

.payPalCheckout
{
	margin-top: 20px;
	margin-left: 14px;
	float: left;
}

.pager
{
	border: 0;
	margin: auto;
	padding: 10px;
	height: 20px;
	width: auto;
	display: block;
}

.pager ul
{
	width: auto;
	margin: auto;
}

.pagination li
{
	border: 0; /*margin: 0;*/
	padding: 0;
	font-size: 11px;
	list-style: none;
	display: inline;
}
.pagination a
{
	border: solid 1px #DDDDDD;
	margin-right: 2px;
}
.pagination .previous-off, .pagination .next-off
{
	color: #3d0001;
	display: block;
	float: left;
	font-weight: bold;
	padding: 3px 4px;
}
.pagination .next a, .pagination .previous a
{
	font-weight: bold;
	border: solid 1px #FFFFFF;
}



.pagination a:link, .pagination a:visited
{
	color: #3d0001;
	display: block;
	float: left;
	padding: 3px 6px;
	text-decoration: none;
}

.pagination .active a
{
	background-color: #3d0001;
	color: #ffffff;
}

.pagination a:hover
{
	border: solid 1px #666666;
}

.pagination .group
{
	margin-left: 10px;
	margin-right: 5px;
	border-right: 1px solid black;
	color: #3d0001;
	display: block;
	float: left;
	padding: 3px 6px;
	text-decoration: none;
}

.promoBox
{
	border: 1px solid #000;
	margin-left: 10px;
	width: 250px;
	height: 250px; /*-moz-box-shadow: 3px 3px 4px #000; 	-webkit-box-shadow: 3px 3px 4px #000; 	box-shadow: 3px 3px 4px #000;*/
	float: left;
}

#body
{
	margin: 15px;
	font-family: "Droid Serif" , Serif;
	font-size: 14px;
}

#body h1
{
	font-size: 24px;
}

.sideBox
{
	border-radius: 10x;
	background-color: #ab0b0e;
	background: -webkit-gradient(linear, left top, left bottom, from(#ab0b0e), to(#3D0001)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #ab0b0e,  #3D0001); /* for firefox 3.6+ */
	min-height: 500px;
	width: 286px;
	-moz-border-radius: 8px /*{cornerRadius}*/;
	-webkit-border-radius: 8px /*{cornerRadius}*/;
	border-radius: 8px /*{cornerRadius}*/;
	color: White;
	float: left;
	box-shadow: 3px 3px 7px #777
}

.rotatingPageBanner
{
	background: url("/content/themes/base/background/shadow-large.png") no-repeat scroll 50% 100% transparent;
	background-color: #AB0B0E;
	height: 240px;
	margin: 20px auto auto auto;
	width: 920px;
}

.rotatingPageBanner .wrapper
{
	background: none repeat scroll 0 0 #AB0B0E;
	border-color: #AB0B0E #AB0B0E -moz-use-text-color;
	border-style: solid solid none;
	border-width: 10px 10px 0;
	overflow: hidden;
}

#content #body
{
	width: 920px;
	margin: auto;
}

.sideBox-white
{
	border-radius: 10x;
	background-color: #fff;
	min-height: 500px;
	width: 250px;
	-moz-border-radius: 8px /*{cornerRadius}*/;
	-webkit-border-radius: 8px /*{cornerRadius}*/;
	border-radius: 8px /*{cornerRadius}*/;
	padding: 5px;
	color: 000;
	float: left;
}

h2.trigger
{
	color: white;
	padding: 0 0 0 3px;
	margin-top: 5px; /*margin: 0 0 3px 0;*/
	background: -webkit-gradient(linear, left top, left bottom, from(#ab0b0e), to(#3D0001)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #ab0b0e,  #3D0001); /* for firefox 3.6+ */ /*background: url(h2_trigger_a.gif) no-repeat;*/
	height: 30px;
	line-height: 30px;
	width: 100%;
	font-family: "Droid Serif" ,Serif;
	font-size: 1.5em;
	font-weight: normal;
	float: left;
}
h2.trigger a
{
	text-decoration: none;
	display: block;
}
h2.trigger a:hover
{
	color: #ccc;
}
h2.active
{
	background-position: left bottom;
}
/*--When toggle is triggered, it will shift the image to the bottom to show its "opened" state--*/
.toggle_container
{
	margin: 0 0 5px;
	padding: 0;
	border-top: 1px solid #d6d6d6;
	background: #ffffff url(toggle_block_stretch.gif) repeat-y left top;
	overflow: hidden;
	font-size: 1.2em;
	width: 100%;
	clear: both;
}

.toggle_container .block
{
	padding-top: 20px;
	background: url(toggle_block_btm.gif) no-repeat left bottom; /*--Bottom rounded corners--*/
}

.labels li 
{
	padding:2px 0px 1px 0px;
}
.stacked
{
	clear: left;
	float: left;
}

.float-left
{
	float: left;
}

.float-right
{
	float:right;
}

.review
{
	border-top: 1px solid grey;
	margin: 4px;
	padding-top: 10px;
}

.reviews 
{
	 clear: left;
    padding-top: 20px;
}

.reviews .section
{
	float: left;
	padding: 5px;
	width: 550px;
}

.reviews .section .detail
{
	width: 550px;
}

textarea 
{
	width:100%;
	height:140px;
	resize:none;
	
}
.review:after
{
	content: ".";
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}

.box
{
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.whiteText a
{
	color:White;
}

html, body {height: 100%;}

#page {min-height: 100%;}

#main {overflow:auto;
	padding-bottom: 150px;}  /* must be same height as the footer */

#footer {position: relative;
	margin-top: -150px; /* negative value of footer height */
	height: 150px;
	clear:both;} 
	
.one 
{
	background: #efc5ca; /* Old browsers */
background: -moz-linear-gradient(top, #efc5ca 0%, #d24b5a 50%, #ba2737 51%, #f18e99 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#efc5ca), color-stop(50%,#d24b5a), color-stop(51%,#ba2737), color-stop(100%,#f18e99)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #efc5ca 0%,#d24b5a 50%,#ba2737 51%,#f18e99 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #efc5ca 0%,#d24b5a 50%,#ba2737 51%,#f18e99 100%); /* Opera11.10+ */
background: -ms-linear-gradient(top, #efc5ca 0%,#d24b5a 50%,#ba2737 51%,#f18e99 100%); /* IE10+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efc5ca', endColorstr='#f18e99',GradientType=0 ); /* IE6-9 */
background: linear-gradient(top, #efc5ca 0%,#d24b5a 50%,#ba2737 51%,#f18e99 100%); /* W3C */
}

.two 
{
	background: #cb60b3; /* Old browsers */
background: -moz-linear-gradient(top, #cb60b3 0%, #ad1283 50%, #de47ac 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cb60b3), color-stop(50%,#ad1283), color-stop(100%,#de47ac)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #cb60b3 0%,#ad1283 50%,#de47ac 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #cb60b3 0%,#ad1283 50%,#de47ac 100%); /* Opera11.10+ */
background: -ms-linear-gradient(top, #cb60b3 0%,#ad1283 50%,#de47ac 100%); /* IE10+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cb60b3', endColorstr='#de47ac',GradientType=0 ); /* IE6-9 */
background: linear-gradient(top, #cb60b3 0%,#ad1283 50%,#de47ac 100%); /* W3C */
}

.slot-item 
{
	min-height:235px;
-moz-border-radius: 8px /*{cornerRadius}*/;
	-webkit-border-radius: 8px /*{cornerRadius}*/;
	border-radius: 8px /*{cornerRadius}*/;
	margin: 5px 5px 5px 5px;
}


