@using Asiana.UI.Extensions
<html>
	<head>
     <title>Fashinon</title>
    </head>
	<body bgcolor="#3d0001">
        <div class="body" style="font: 10px arial, sans-serif;margin:0px;">
		@RenderBody()
        </div>
	</body>
</html>