<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="FashinonEntities" connectionString="metadata=res://*/Orders.Model1.csdl|res://*/Orders.Model1.ssdl|res://*/Orders.Model1.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;User Id=root;password=fUTURE100;Persist Security Info=True;port=3307;database=Fashinon&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>